<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>App</title>
</head>

<body>
   <h4>
      Hello! You are connected to the PostgreSQL database:
      <%= db %>
   </h4>
   <table>
      <% requests.forEach( request=> { %>
         <tr>
            <td>
               <%= request.app %> &nbsp | &nbsp
            </td>
            <td>
               <%= request.ip %> &nbsp | &nbsp
            </td>
            <td>
               <%= request.host %>&nbsp | &nbsp
            </td>
            <td>
               <%= request.req_at %>&nbsp | &nbsp
            </td>
         </tr>
         <% }) %>
   </table>

</body>

</html>